/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1, h2 {
    text-align: center;
    color: #333;
}

section {
    margin: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

blockquote {
    font-style: italic;
    color: #555;
    text-align: center;
    margin: 20px 0;
}

form {
    text-align: center;
    margin-top: 20px;
}

form input[type="email"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

form button:hover {
    background-color: #555;
}
